<% provide(:title, "Home") %>

<div class="center">
  <% if logged_in? %>
    <div class="row">
      <div class="col-md-8 col-md-offset-2">
        <%= render 'shared/post_form' %>
      </div>
    </div>

  <% else %>
    <h1>Welcome to the Foro</h1>

    <h2>
      This is the home page the Foro
    </h2>

  <%= link_to "Sign up now!", sign_path, class: "btn btn-lg btn-primary" %>
</div>

<% end %>

<%# link_to "Lista de usuarios", users_list_path, class: "btn btn-lg btn-primary" %>