<% provide(:title, "Home") %>
<div class="center">
  <h1>Welcome to the Foro</h1>

  <h2>
    This is the home page the Foro
  </h2>

  <%= link_to "Sign up now!", sign_path, class: "btn btn-lg btn-primary" %>
</div>

