<ul class="stats">
  <li class="stat">
    <%= link_to(followers_user_path(@user)) do %>
      <strong><%= @user.followers.count %></strong> Seguidores
    <% end %>
  </li>

  <li class="stat">
    <%= link_to(followings_user_path(@user)) do %>
      <strong><%= @user.followings.count %></strong> Siguiendo
    <% end %>
  </li>
</ul>
