<p> Ingreso: <%= input = CGI.parse(URI.parse(request.original_url()).query)["q"][0] %></p>
<p>Se encontraron los siguientes usuarios: </p>
<% cant = 0 %>
<% @user.each do |user| %>
  <% if input.in? user.name %>
    <p><%= user.name %> </p>
    <% cant += 1 %>
  <% end %>
<% end %>
<p> ----------------------------------------------</p>
<p> Cantidad de usuarios encontrados: <%= cant %> </p>
<p> ----------------------------------------------</p>
