.users-follow {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
}

.user-info {
  text-align: center;
  list-style: none;
  padding: 10px;
  span {
    display: block;
  }
  img {
    height: 50px;
  }
}